/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
p {
  line-height: 1.6;
  font-size: 1.4rem;
}
h1,
h2,
h3 {
  font-family: 'Abril Fatface', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2rem;
  margin: 1%;
}
body {
  margin: 0 auto;
  width: 90%;
}
p {
  line-height: 1.6;
  font-size: 1.4rem;
}
h1,
h2,
h3 {
  font-family: 'Abril Fatface', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2rem;
  margin: 1%;
}
body {
  margin: 0 auto;
  width: 90%;
}
body {
  text-align: center;
}
body:before {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.button-signUp {
  background: #1AAB8A;
  color: #fff;
  border: none;
  position: relative;
  height: 60px;
  font-size: 1.6em;
  padding: 0 2em;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
}
.button-signUp:hover {
  background: #fff;
  color: #1AAB8A;
}
.button-signUp:before,
.button-signUp:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #1AAB8A;
  transition: 400ms ease all;
}
.button-signUp:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.button-signUp:hover:before,
.button-signUp:hover:after {
  width: 100%;
  transition: 800ms ease all;
}
.ctaWrapper {
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url('../images/background.jpg');
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 75vh;
}
@media screen and (max-width: 500px) {
  .ctaWrapper {
    width: 100%;
  }
}
header {
  display: flex;
  color: #281F3E;
}
header .cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5% 10%;
}
header p {
  width: 45%;
  margin: 1%;
  color: #eedac3;
  text-shadow: 2px 2px black;
}
@media screen and (max-width: 500px) {
  header p {
    font-size: 0.9rem;
    width: 80%;
  }
}
header h1 {
  color: #eedac3;
  text-shadow: 2px 2px black;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: #1AAB8A;
  padding: 2%;
}
footer h3 {
  font-size: 1.8rem;
  color: #eedac3;
  margin-bottom: 10%;
}
@media screen and (max-width: 500px) {
  footer h3 {
    font-size: 1.2rem;
    width: 100%;
  }
}
footer .ISS {
  margin-left: 3%;
  font-size: 1.8rem;
}
footer .fa-instagram,
footer .fa-twitter-square {
  font-size: 3.3rem;
  cursor: pointer;
}
@media screen and (max-width: 500px) {
  footer .fa-instagram,
  footer .fa-twitter-square {
    font-size: 1.5rem;
    cursor: pointer;
  }
}
footer .fa-facebook-f {
  cursor: pointer;
}
@media screen and (max-width: 500px) {
  footer .fa-facebook-f {
    font-size: 1.5rem;
    cursor: pointer;
  }
}
footer ul li {
  font-size: 1.7rem;
  cursor: pointer;
}
@media screen and (max-width: 500px) {
  footer ul li {
    font-size: 1.2rem;
    cursor: pointer;
  }
}
