.aboutPage {
    margin: 0 auto !important;
    @media @phone {
        height: 30vh;
    }
}

.teamWrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.greg {
    @media @phone {
        transform: translate(50%, 0);
    }
}

.teamMember {
    margin: 1%;
    width: 30%;
    position: relative;
    padding: .5%;

    @media @phone {
        width: 45%;
    }

    .hover {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;

        h2 {
            padding-top: 5%;

            @media @tablet {
                font-size: 1rem !important;
            }

            @media @phone {
                font-size: 1rem !important;
            }
        }

        p {
            margin-top: 20%;

            @media @tablet {
                margin-top: 25%;
            }

            @media @phone {
                margin-top: 25%;
            }
        }
    }

    &:hover .hover {
        opacity: 1;
    }

    .icons {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;

        .fa-github:hover {
            color: grey;
        }

        .fa-linkedin-in:hover {
            color: white;
            background-color: blue;
            padding: 0 2%;
            border-radius: 10px;
        }

        @media @tablet {
            font-size: .4rem;
        }

        @media @phone {
            font-size: .3rem;
        }
    }
}

.teamMember .image {
    display: block;
    width: 100%;
    height: auto;
}

.teamMember:hover .image {
    opacity: 0.3;
}
.wrap-About{
    h2{
        padding: 2%;
    }
}